*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:80%;
	margin:auto;
	height:100vh;
	padding:50px;
}

.row{
	display:flex;
}
.col{
	width:33.33%;
	padding:20px;
}
.card1{
	width:100%;
	height:70vh;
	border:2px solid #000;
	border-radius:5px;
}
.card2{
	width:100%;
	height:70vh;
	background-color:#e1003c;
	border:2px solid #e1003c;
	border-radius:5px;
}
.card3{
	width:100%;
	height:70vh;
	border:2px solid #000;
	border-radius:5px;
}
img{
	display:block;
	margin:auto;
	padding:20px;
}
i{	
	padding:20px 0;
	display: inline-block;
    width: 100%;
	color:#ffff;
	font-size:64px;
	text-align:center;
}
h1, p{
	text-align:center;
	padding:27px;
}
button{
	border:none;
	text-align:center;
	padding:15px 75px;
	display:block;
	margin:auto;
	border-radius:20px;
}
.insta{
	color:#ffff;
}
#twitter, #youtube{
	background-color:#000;
	color:#ffff;
}